.change_pass_main_div {
  display: flex;
  margin-top: 70px;
  margin-bottom: 70px;
}
.change_pass_card {
  width: 500px;
  padding: 20px;
  border-radius: 10px;
  position: relative;
}
.change_pass_card > p {
  text-align: center;
  margin: 30px;
  font-weight: bold;
}
.pass_inpt {
  width: 330px;
  border: 1px solid #27bdad;
  border-radius: 20px;
  padding: 7px 15px;
  /* height: 35px; */
}
.pass_inpt input {
  width: 85%;
  border: none;
  outline: none;
  background: transparent;
  padding: 0px 10px;
  color: #27bdad;
  font-size: 0.9rem;
}
.pass_inpt img {
  margin-top: -4px;
}
.input_tick {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.input_tick > img {
  margin-left: 5px;
  height: 15px;
  margin-top: 12px;
}
.change_pass_inputs > p {
  margin-left: 60px;
  font-weight: 600;
  margin-top: 20px;
}
.invalid_div {
  position: absolute;
  bottom: 20px;
  left: 150px;
}
.invalid_div > span {
  color: red;
  font-size: 0.8rem;
  margin-left: 10px;
}
.invalid_div > img {
  margin-left: -30px;
  margin-top: -4px;
}
.change_pss_btn {
  border-radius: 20px;
  border: none;
  background: #27bdad;
  font-weight: 600;
  color: white;
  outline: none;
  padding: 6px 20px;
  margin-top: 10px;
}

@media screen and (max-width: 991px) {
  .change_pass_card {
    height: 560px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 510px) {
  .change_pass_card {
    width: 408px;
  }
  .change_pass_inputs {
    width: 100%;
  }
  .change_pass_inputs > p {
    margin-left: 19px;
  }
  .invalid_div {
    width: 100%;
    text-align: center;
    left: 0;
  }
}
@media screen and (max-width: 425px) {
  .change_pass_card {
    width: 345px;
  }
  .pass_inpt input {
    width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .pass_inpt {
    width: 280px;
  }
}
@media screen and (max-width: 370px) {
  .change_pass_card {
    width: 310px;
  }
}
@media screen and (max-width: 360px) {
  .pass_inpt {
    width: 250px;
  }
  .pass_inpt input {
    width: 80%;
  }
}
@media screen and (max-width: 325px) {
  .pass_inpt {
    width: 230px;
  }
  .pass_inpt input {
    width: 70%;
  }
}
