.refer_main_{
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}
.refer_card_social,.refer_copylink_card{
    width: 450px;
    padding: 20px;
    border-radius: 10px;
}
.refer_copylink_card{
    text-align: center;
}
.refer_copylink_card>img{
    margin-top: 20px;
}
.refer_copylink_card>h5{
    margin-top: 10px;
}
.refer_copylink_card>p{
    margin-top: 10px;
    font-weight: 600;
    font-size: .9rem;
}
.link_inpt{
    margin-top: 20px;
    border: 1px solid #27BDAD;
    padding: 6px 15px;
    border-radius: 20px;
}
.link_inpt>input{
    width: 85%;
    padding: 0px 6px;
    background: transparent;
    border: none;
    outline: none;
    color: #27BDAD;
    font-size: .9rem;
}

.social_share_head{
    text-align: center;
    margin-top: 45px;
}
.social_share_head>p,.emailInput>p{
    margin-top: 10px;
    font-size: .9rem;
    font-weight: 600;
}
.social_icon_div{
    width: 350px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
}
.orline_div>img{
    width: 190px;
}
.orline_div>span{
    font-size: .9rem;
    font-weight: 600;
}
.emailInput{
    text-align: center;
    margin-top: 20px;
}
.entr_link{
    /* margin-top: 15px; */
    margin: 20px auto;
}
.dark_inp,.dark_inp::placeholder{
    color: white !important;
}