.optp_code {
  width: 80%;
  margin: 1.5rem auto;
}

.optp_code > div {
  border-radius: 10px;
}

/* buiness upload image css  */

.bussines_main_div {
  text-align: center;
}

.bussines_main_div div p {
  font-size: 0.9rem;
  text-align: center;
  margin: 1rem 0;
}

.upload_img {
  width: 100%;
}

.bus_submit {
  padding: 6px 25px;
}

.upload_back {
  padding: 5px 30px;
  width: 150px;
}
.upload_div > input {
  display: none;
}
.main_upload_img_div {
  display: flex;
}
.upload_result {
  margin: 10px;
}
.upload_delete:hover {
  cursor: pointer;
}
.upload_result {
  text-align: start !important;
  position: relative;
  /* left: 10px; */
  padding: 15px 10px;
}
.upload_delete {
  position: absolute;
  left: 100px;
  top: -2px;
  font-size: 1.3em;
  background-color: #9ba3cc;
  padding: 0px 8.5px;
  color: var(--bg-white);

  border-radius: 20px;
  height: fit-content;
}
.upload_img_result {
  width: 100px;
  height: 120px;
  object-fit: fill;
}

/*  */

.cr_stepper {
  width: 60%;
  text-align: center;
}

.cr_stepper .login_form {
  margin: 0 auto;
}

@media screen and (max-width: 991px) {
  .cr_stepper {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .optp_code {
    width: 100%;
  }
}
