.home_section {
  width: 100%;
}

.home_hero {
  width: 100%;
  height: 577px;
  display: flex;
}

.h_left {
  width: 50%;
  display: flex;
  padding: 80px 0 0 80px;
}

.h_mob2 {
  display: none;
}

.hl_box {
  width: 100%;
}

.hl_box h2 {
  margin: 0;
  width: 474px;
  font-size: 2rem;
  font-weight: bolder;
}

.lf_text {
  font-size: 1.8rem;
  font-weight: 900;
}

.hl_box p {
  margin: 10px 0;
  font-size: 0.9rem;
  font-weight: 500;
}

.cus_btn1 {
  width: max-content;
  padding: 10px 30px;
  border-radius: 40px;
  font-size: 0.9rem;
  font-weight: 500;
}

.h_right {
  width: 50%;
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 80px 0 80px;
}

.hr_box {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hr_box img {
  width: 396px;
  height: 394px;
}

.hr_box2 {
  display: none;
}

.hr_box3 {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hr_box3 img {
  margin-left: -704px;
  width: 327px;
}

/* home_tmoney */

.home_tmoney {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
}

.htm_left {
  width: 40%;
  /* height: 100%; */
}

.htm_left img {
  width: 400px;
  object-fit: contain;
}

.htm_right {
  width: 60%;
  position: relative;
  /* height: 100%; */
  text-align: end;
  padding-right: 8rem;
}

.htm_right .hl_box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.htm_right .hl_box h2 {
  width: 100%;
}

.htm_right .hl_box p {
  width: 90%;
}

.hchip1 {
  position: absolute;
  left: 0;
  top: -50px;
}

.hchip2 {
  position: absolute;
  right: 50px;
  top: -50px;
}

.hchip3 {
  position: absolute;
  left: 0px;
  bottom: -100px;
}

.hchip4 {
  position: absolute;
  right: 130px;
  bottom: -150px;
}

/* home_pay  */

.home_pay {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay_bg {
  width: 622px;
  margin: 0 auto;
  height: 317px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-content: center;
  /* justify-content: center; */
}
.pay_bg1 {
  background-image: url("../../Assets/paybg.png");
}
.pay_bg2 {
  background-image: url("../../Assets/paybg2.png");
}

.p_content {
  width: 100%;
  margin-top: -62px;
  text-align: center;
}

.p_content h2 {
  margin-bottom: 1rem;
}
.pcard_section {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.pcard {
  width: 21%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  align-items: center;
}

.pcard-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  border-radius: 10px;
}

.pcard span {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

.pcard img {
  width: 40px;
  object-fit: contain;
}

/* home_why */

.home_why {
  width: 100%;
  height: max-content;
  padding: 3rem 0;
}

.hw_content {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.hw_content h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hw_content p {
  font-size: 1rem;
  font-weight: 500;
  width: 70%;
  margin: 0 auto;
}

.hw_img {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.hw_img img {
  width: 50%;
}

/* home_paydebit */

.home_paydebit {
  width: 100%;
  padding: 3rem 0 0 0;
  display: flex;
  height: max-content;
}

.pd_left {
  width: 60%;
  /* height: 100%; */
  /* margin: 0 auto; */
  /* display: flex; */
  /* justify-content: center; */
}

.pd_left .pdl_b {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 8rem;
  padding-bottom: 3rem;
}

.pd_left .pdl_b img {
  margin-bottom: 2rem;
}

.pd_left .pdl_b p {
  margin-bottom: 1rem;
}

.pd_left h2 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  margin: 1rem 0;
}

.pd_right {
  width: 40%;
  display: flex;
  justify-content: center;
}

.pd_right img {
  width: 55%;
}

/* home_instruction */

.home_instruction {
  width: 100%;
  height: max-content;
  padding: 3rem 0;
}

.hi_content {
  /* width: 80%; */
  margin: 0 auto;
}

.hi_card {
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

.hi_card img {
  width: 50px;
  margin-bottom: 1.5rem;
  object-fit: contain;
}

.hi_card h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.hi_card p {
  font-size: 0.9rem;
}

/* home_commingsoon */

.home_commingsoon {
  width: 100%;
  height: max-content;
  padding: 5rem 0 0 0;
  margin-bottom: 2rem;
}

.hc_box {
  width: 70%;
  height: max-content;
  margin: 0 auto;
  display: flex;
  padding: 5rem 0 0 2rem;
  border-radius: 20px;
}

.hcb_left {
  width: 60%;
}

.hcb_left h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.hcb_left p {
  font-size: 1rem;
  width: 400px;
}

.hcb_left div {
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hcb_left div span {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hcb_right {
  width: 40%;
  display: flex;
  justify-content: flex-end;
}

.hcb_right img {
  width: 80%;
}

@media screen and (max-width: 1238px) {
  .hr_box3 img {
    margin-left: -417px;
  }
}
@media screen and (max-width: 980px) {
  .home_hero {
    flex-direction: column-reverse;
    align-items: center;
    height: 100%;
    margin-top: 2rem;
  }
  .hr_box {
    display: none;
  }
  .hr_box3 {
    display: none;
  }
  .h_right {
    width: 100%;
    padding: 0;
  }
  .hr_box2 {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .hr_box2 img {
    width: 150px;
  }
  .h_left {
    width: 100%;
    padding: 2rem 0 2rem 2rem;
  }
  .hl_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hl_box h2 {
    width: 472px;
  }
  .hl_box p {
    width: 550px;
  }
  /*  */

  .home_tmoney {
    padding: 5rem 0;
    flex-direction: column;
    height: max-content;
    position: relative;
  }
  .htm_left {
    width: 100%;
    text-align: end;
  }
  .h_mob1 {
    display: none;
  }
  .h_mob2 {
    display: inline-block;
  }
  .htm_right {
    width: 100%;
    position: unset;
    margin-top: 2.5rem;
    padding-right: 2rem;
  }
  .hchip1 {
    left: 30px;
    top: 26px;
  }
  .hchip2 {
    right: 52%;
    bottom: 81px;
    top: unset;
  }
  .hchip3 {
    top: 57%;
    left: 30px;
  }
  .hchip4 {
    left: 80px;
    right: unset;
    bottom: -45px;
  }
  /*  */

  .home_paydebit {
    flex-direction: column-reverse;
    align-items: center;
    padding: 3rem 0 3rem 0;
  }

  .pd_left {
    width: 100%;
    margin-top: 1rem;
  }
  .pd_left .pdl_b {
    padding: 0;
    align-items: center;
  }
  .pd_left h2 {
    text-align: center;
  }
  .pd_left .pdl_b p {
    text-align: center;
    width: 98%;
  }
  .pdl_b > div {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .pd_left .pdl_b img {
    width: 200px;
  }
  .pd_right {
    width: 100%;
  }
  .pd_right img {
    width: 250px;
  }
  /*  */
  .home_commingsoon {
    padding: 0;
  }
  .hi_card {
    width: 98%;
    margin: 0 auto;
  }
  .hc_box {
    flex-direction: column;
    align-items: center;
    background: transparent !important;
    width: 100%;
    padding-left: 0;
    padding-top: 2rem;
  }
  .hcb_left {
    width: 100%;
    text-align: center;
  }
  .hcb_left p {
    width: 98%;
    margin: 0 auto;
  }
  .hcb_right {
    width: 100%;
    justify-content: center;
  }
  .hcb_right img {
    width: 324px;
  }
}

@media screen and (max-width: 768px) {
  .hw_content {
    width: 96%;
  }
  .hw_img img {
    width: 70%;
  }
  .hi_card p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 700px) {
  .home_pay {
    height: max-content;
    margin-top: 7rem;
  }
  .pay_bg {
    height: max-content;
    background: none;
  }
  .p_content {
    margin: 0px auto 0 auto;
    width: 90%;
  }
  .pcard_section {
    flex-wrap: wrap;
    margin: 28px auto;
    width: 75%;
  }
  .pcard {
    width: 34%;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 600px) {
  .hl_box h2 {
    width: 356px;
    font-size: 1.5rem;
  }
  .hl_box p {
    width: 400px;
  }
  .htm_left img {
    width: 60%;
  }
}

@media screen and (max-width: 575px) {
  .hi_card {
    width: 66%;
  }
}

@media screen and (max-width: 500px) {
  .hw_content p {
    width: 100%;
    font-size: 0.9rem;
  }
  .hw_img img {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .hl_box h2 {
    width: 287px;
    font-size: 1.3rem;
  }
  .hl_box p {
    width: 90%;
  }
}

@media screen and (max-width: 425px) {
  .hchip3 {
    top: 50%;
    left: 30px;
  }
  .hchip2 {
    right: 72%;
  }
  .hchip4 {
    left: 17px;
  }
  .pcard_section {
    width: 80%;
  }
  .pcard {
    width: 40%;
  }
  .hw_content h2 {
    font-size: 1.2rem;
  }
  .pd_left h2 {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  .hi_card {
    width: 80%;
  }
  .hcb_left div img {
    width: 280px;
  }
  .hcb_left p {
    width: 90%;
  }
  .hcb_left h2 {
    font-size: 1.2rem;
    margin-bottom: 1.2rem;
  }
}

@media screen and (max-width: 375px) {
  .p_content p {
    font-size: 0.8rem;
  }
  .pcard_section {
    width: 85%;
  }
  .pcard {
    width: 44%;
  }
  .hw_content p {
    width: 94%;
    font-size: 0.8rem;
  }
  .hcb_left p {
    width: 85%;
    font-size: 0.8rem;
  }
  .cus_btn1 {
    padding: 10px 15px;
  }
}

@media screen and (max-width: 338px) {
  .p_content h2 {
    font-size: 1.2rem;
  }
}
