.confirm_opt_main_div{
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    height: 85vh;
}
.confirm_opt_main_div>p{
    font-size: .9rem;
    margin-top: 10px;
}
.get_otp_main_div{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.get_otp_div{
    width: 400px;
}
.email_otp_div{
    width: 400px;
}
.number_div>span{
    display: inline-block;
    margin: 10px;
    /* margin-top:20px ; */
}
.number_div>img{
  margin-top: -5px;
}
.otp_get_inp_div{
    margin-top: 20px;
}
.otp_get_inp_div>input{
    width: 50px;
    padding: 5px 10px;
    text-align: center;
    outline: none;
    margin: 10px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px;
    background: transparent;
}
.msg_img{
    margin-top: 20px;
    height: 80px;
    width: auto;
}
.alert_msg_div{
    margin-top: 10px;
    color: red;
    font-size: .9rem;
}
.alert_msg_div>img{
    margin-top: -8px;
}
.alert_msg_div>span{
    margin-left: 10px;
}
.resend_btn{
    outline: none;
    border: none;
    border-radius: 20px;
    padding: 6px 25px;
    font-weight: 600;
    font-size: .9rem;
    margin-top: 15px;
}
.not_recvd{
    font-size: .8rem;
    margin-top: 5px;
}

/* confirm wait css  */
.wating_animation{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    /* vertical-align: middle; */
}

/* thank you css  */

.thankyou_main_div{
    padding: 30px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    height: 85vh;
    justify-content: center;

}
.thanks_img{
    margin-top: 30px;
}
.thankyou_main_div>div>h5{
    margin-top: 20px;
}
.thankyou_main_div>div>p{
    margin-top: 20px;
    margin-bottom: 30px;
}