*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p,ul,li,h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.white{
  background-color: white;
}
.black{
  background-color: black;
}