*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
p,ul,li,h1,h2,h3,h4,h5,h6{
  margin: 0px;
  padding: 0px;
  list-style: none;
}
input,select,button{
  border: none;
  outline: none;
}
.white{
  background-color: white;
}
.black{
  background-color: black;
}

.mob_back_link{
  text-decoration: none;
  color: #72FAEC;
  /* margin-left: 10px; */
}
.mob_back_link:hover{
  color: #72FAEC;
}
.bak_div{
  display: none;
}
@media screen and (max-width:991px){
  .bak_div{
    display: block;
    margin-top: 40px;
    margin-left: 20px;
  }
  .bak_div img{
    margin-top: -5px;
  }
  .bak_div span{
    margin-left: 10px;
  }
}
@media screen and (max-width:360px){
  .bak_div{
    margin-left: 10px;
  }
}