.button {
  position: relative;
  display: block;
  width: 78px;
  height: 36px;
  background-color: transparent;
  border-radius: 350px;
  direction: ltr;
}

.knob {
  width: 31px;
  height: 31px;
  /* background: #fff; */
  background-size: 100px;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 290px;
  transition: 0.4s ease left, 0.4s ease background-position;
  z-index: 2;
}

.subscribe, .alright {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* color: #fff; */
  font-size: 13px;
  font-weight: bold;
  margin-left: 4px;
  z-index: 1;
}

.alright {
  margin-left: 44px;
}

.lol-checkbox:checked + .button .knob {
  left: 41px;
  background-position: -350px 0;
  /* cursor: pointer; */
  
}
.lol-checkbox{
  display: none;
}